<!doctype html>
<head>
  <%= css :application %>
  <%= js :app %>

  <title>Situation Room - Monitor</title>
</head>
<body>

  <header>
    <h1>Meeting room tablets</h1>
  </header>

  <ul>
    <li class="template">
      <h2></h2>
      <span class="status"></span>
    </li>
  </ul>

</body>
</html>
