<!doctype html>
<head>
  <%= css :application %>
  <%= js :app %>

  <title>Situation Room - Monitor</title>
  <meta http-equiv="refresh" content="3600">
</head>
<body>

  <header>
    <h1>Meeting room tablets</h1>
    <span class="time">Not loaded</span>
  </header>

  <ul>
    <li class="template">
      <h2></h2>
      <span class="status"></span>
    </li>
  </ul>

</body>
</html>
